body {
    background-color: #F8F9FA;
}

.textBlack {
    color: black !important;
}

.colorBG {
    background-color: #39A7DC !important;
}

.colorTxt {
    color: #39A7DC !important;
}

.borderBottom {
    border-bottom: 8px solid whitesmoke;
    transition: transform 0.3s ease, z-index 0.3s;
}

.card-hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.borderBottom:hover {
    transform: scale(1.1);
    border-radius: 8px;

}

.BlogHeader button {
    background-color: #39A7DC;
    width: 250px;
    height: 60px;
}

.BlogHeader button:hover {
    background-color: #1e5a99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card {
    overflow: hidden !important;
}