@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.hero-bg {
  width: 100%;
  background-color: white;
}

.hero-bg .hero-container {
  padding-top: 5em;
  display: flex;
}

.hero-container .hero-text-box {
  width: 50%;
  height: auto;
  /* padding: 20px; */
}

.hero-text-box h1 {
  font-weight: 800;
  font-size: 2.8em;
  padding-top: 1.6em;
}

.hero-text-box h2 {
  font-weight: 800;
  font-size: 2.8em;

}

.hero-text-box h1 span {
  color: blue;
}

.hero-text-box p {
  letter-spacing: 1px;
  text-transform: capitalize;
}

.hero-text-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: rgb(196, 193, 193);
  border-radius: 7px;
  font-weight: bold;
}

.hero-text-box a i {
  margin-left: 10px;
}

.hero-container .hero-image {
  width: 50%;
}

.hero-image .main-image {
width: 100%;
height: 500px;
position: relative;
}

.main-image img {
  width: 60%;
  height: 500px;
  object-fit: cover;
  z-index: 1000;
  margin-left: 130px;
}

.bg-image {
  z-index: 999;
  position: relative;
}

.main-image .animate {
  position: absolute;
  top: 24%;
  left: 0px;
  width: 40%;
  height: 250px;
  background-color: lightblue;
  border-radius: 100%;
}