* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loginForm {
    width: 70%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.loginContainer {
    width: 50%;
    height: 100%;
    background-color: white;
}

.registerContainer {
    width: 50%;
    background-color: #39A7DC;
    height: 100%;
}

form button {
    background-color: #39A7DC !important;
}

form input {
    border: none;
    background-color: whitesmoke;
    width: 300px;
}

form a {
    color: gray;
}

form input:focus {
    outline: none;
}

form button:hover {
    background-color: #1e5a99 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.registerContainer button {
    border: 2px solid white;
    width: 150px;
}

.registerContainer button:hover {
    background-color: #1e5a99;
}

@media (max-width: 768px) {
    .loginForm {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .loginContainer,
    .registerContainer {
        width: 100%;
        height: auto;
    }

    .loginContainer h2 {
        text-align: center !important;
        margin-top: 20px !important;
    }

    form input,
    form select,
    form button {
        width: 80%;
        /* Buton ve input'ları daha küçük yapalım */
    }

    .registerContainer h1 {
        font-size: 1.6em;
    }

    .registerContainer h4 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .loginForm {
        width: 95%;
    }

    form input,
    form select,
    form button {
        width: 90%;
    }

    .registerContainer h1 {
        font-size: 1.4em;
    }

    .registerContainer h4 {
        font-size: 0.9em;
    }
}