* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NavBar {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 1px;
    background-color: #39A7DC !important;
    box-shadow: black;
    align-items: center;
}

.active {
    color: black !important;
}

.NavBar ul li {
    list-style: none;
}

.NavBar ul {
    display: flex;
}

.pgf {
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #ffffff93;
}

.NavBar ul h3 {
    margin-top: 15px;
}

.spaceBetweenNavItems {
    width: 400px;
}

.NavBar ul button {
    margin-left: 30px;
    margin-top: 12px;
}

.shadeOverHover:hover {
    color: rgb(0, 0, 0);
}

.infoOverHover:hover {
    color: #0dcaf0;
}

.opacity p {
    color: #c8c8c8;
    cursor: pointer;
}

.bg-shaded {
    background-color: #393e46;
    padding-top: 10px;
    padding-bottom: 50px;
}

.whiteOverHover:hover {
    color: rgb(255, 255, 255);
}

.copyRight {
    color: #c8c8c8;
}

.searchBar {
    border-radius: 5px 0 0 5px;
    color: black;
    border: none;
    padding: 4px;
    margin-top: 15px;
    margin-left: 20px;
}

.searchButton {
    border: none;
    margin-top: 15px;
    margin-left: 0 !important;
    padding: 4px;
    background-color: #0dcaf0;
    color: white;
    border-radius: 0 5px 5px 0;
}

.sideBar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #39a6dc9a;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px)
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background: white;
    border-radius: 4px;
    transition: 0.3s;
}

.closeSideBar {
    margin-top: 20px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.display-none {
    display: none;
}

.sideBar {
    display: none !important;
}

@media(max-width : 768px) {
    .hideOnMobile {
        display: none !important;
    }

    .display-none {
        display: block;
    }

    .sideBar {
        display: block !important;
        height: 100%;
    }

    .sideBar button {
        margin-left: 0px !important;
    }

    .footer-content {
        text-align: center !important;
    }

    .navbar-userProfile button {
        display: none;
    }
}

@media(max-width : 400px) {
    .sideBar {
        width: 100%;
    }
}

@media(min-width : 768px) {
    .sideBar {
        display: none;
    }
}