* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.NavBar {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 1px;
    background-color: #39A7DC !important;
    box-shadow: black;
}
.NavBar ul li {
    list-style: none;
}
.NavBar ul {
    display: flex;
}
.pgf {
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #ffffff93;
    margin-top: 20px;
}
.NavBar ul h3 {
    margin-left: 120px;
    margin-top: 15px;
}
.spaceBetweenNavItems {
    width: 400px;
}
.NavBar ul button {
    margin-left: 30px;
    margin-top: 12px;
}
.shadeOverHover:hover {
    color: rgb(0, 0, 0);
}
.infoOverHover:hover {
    color: #0dcaf0;
}
.opacity p {
    color: #c8c8c8;
    cursor: pointer;
}
.bg-shaded {
    background-color: #393e46 ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.whiteOverHover:hover {
    color: rgb(255, 255, 255);
}
.copyRight {
    color:  #c8c8c8;
}
.searchBar {
    border-radius: 2px;
    padding: 4px;
    color: black;
    border: none;
}
.searchButton {
   border-radius: 3px;
   margin-top: 15px !important;
   margin-left: 0px !important;
   padding: 3px 5px;
   background-color: #0dcaf0 !important;
}